NexGen/Service References/NexGenService/CommonService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CommonService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8186/CommonService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8186/CommonService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICommonService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ICommonService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ICommonService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_getListUser_InputMessage">
    <wsdl:part name="parameters" element="tns:getListUser" />
  </wsdl:message>
  <wsdl:message name="ICommonService_getListUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:getListUserResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_UnLock_InputMessage">
    <wsdl:part name="parameters" element="tns:UnLock" />
  </wsdl:message>
  <wsdl:message name="ICommonService_UnLock_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnLockResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_Get_doc_for_keyer_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_doc_for_keyer" />
  </wsdl:message>
  <wsdl:message name="ICommonService_Get_doc_for_keyer_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_doc_for_keyerResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_Get_doc_for_keyer_with_agent_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_doc_for_keyer_with_agent" />
  </wsdl:message>
  <wsdl:message name="ICommonService_Get_doc_for_keyer_with_agent_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_doc_for_keyer_with_agentResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_Insert_records_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert_records" />
  </wsdl:message>
  <wsdl:message name="ICommonService_Insert_records_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insert_recordsResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_Insert_records_with_comment_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert_records_with_comment" />
  </wsdl:message>
  <wsdl:message name="ICommonService_Insert_records_with_comment_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insert_records_with_commentResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_discard_doc_keyer_InputMessage">
    <wsdl:part name="parameters" element="tns:discard_doc_keyer" />
  </wsdl:message>
  <wsdl:message name="ICommonService_discard_doc_keyer_OutputMessage">
    <wsdl:part name="parameters" element="tns:discard_doc_keyerResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_search_doc_for_export_InputMessage">
    <wsdl:part name="parameters" element="tns:search_doc_for_export" />
  </wsdl:message>
  <wsdl:message name="ICommonService_search_doc_for_export_OutputMessage">
    <wsdl:part name="parameters" element="tns:search_doc_for_exportResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_Get_packages_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_packages" />
  </wsdl:message>
  <wsdl:message name="ICommonService_Get_packages_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_packagesResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_Get_packages_lastest_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_packages_lastest" />
  </wsdl:message>
  <wsdl:message name="ICommonService_Get_packages_lastest_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_packages_lastestResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_Update_package_priority_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_package_priority" />
  </wsdl:message>
  <wsdl:message name="ICommonService_Update_package_priority_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_package_priorityResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_Update_package_file_path_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_package_file_path" />
  </wsdl:message>
  <wsdl:message name="ICommonService_Update_package_file_path_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_package_file_pathResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_remove_package_InputMessage">
    <wsdl:part name="parameters" element="tns:remove_package" />
  </wsdl:message>
  <wsdl:message name="ICommonService_remove_package_OutputMessage">
    <wsdl:part name="parameters" element="tns:remove_packageResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_Get_secure_code_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_secure_code" />
  </wsdl:message>
  <wsdl:message name="ICommonService_Get_secure_code_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_secure_codeResponse" />
  </wsdl:message>
  <wsdl:portType name="ICommonService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonService/DoWork" message="tns:ICommonService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonService/DoWorkResponse" message="tns:ICommonService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonService/Login" message="tns:ICommonService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonService/LoginResponse" message="tns:ICommonService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getListUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonService/getListUser" message="tns:ICommonService_getListUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonService/getListUserResponse" message="tns:ICommonService_getListUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnLock">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonService/UnLock" message="tns:ICommonService_UnLock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonService/UnLockResponse" message="tns:ICommonService_UnLock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_doc_for_keyer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonService/Get_doc_for_keyer" message="tns:ICommonService_Get_doc_for_keyer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonService/Get_doc_for_keyerResponse" message="tns:ICommonService_Get_doc_for_keyer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_doc_for_keyer_with_agent">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonService/Get_doc_for_keyer_with_agent" message="tns:ICommonService_Get_doc_for_keyer_with_agent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonService/Get_doc_for_keyer_with_agentResponse" message="tns:ICommonService_Get_doc_for_keyer_with_agent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert_records">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonService/Insert_records" message="tns:ICommonService_Insert_records_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonService/Insert_recordsResponse" message="tns:ICommonService_Insert_records_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert_records_with_comment">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonService/Insert_records_with_comment" message="tns:ICommonService_Insert_records_with_comment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonService/Insert_records_with_commentResponse" message="tns:ICommonService_Insert_records_with_comment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="discard_doc_keyer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonService/discard_doc_keyer" message="tns:ICommonService_discard_doc_keyer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonService/discard_doc_keyerResponse" message="tns:ICommonService_discard_doc_keyer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="search_doc_for_export">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonService/search_doc_for_export" message="tns:ICommonService_search_doc_for_export_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonService/search_doc_for_exportResponse" message="tns:ICommonService_search_doc_for_export_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_packages">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonService/Get_packages" message="tns:ICommonService_Get_packages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonService/Get_packagesResponse" message="tns:ICommonService_Get_packages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_packages_lastest">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonService/Get_packages_lastest" message="tns:ICommonService_Get_packages_lastest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonService/Get_packages_lastestResponse" message="tns:ICommonService_Get_packages_lastest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_package_priority">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonService/Update_package_priority" message="tns:ICommonService_Update_package_priority_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonService/Update_package_priorityResponse" message="tns:ICommonService_Update_package_priority_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_package_file_path">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonService/Update_package_file_path" message="tns:ICommonService_Update_package_file_path_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonService/Update_package_file_pathResponse" message="tns:ICommonService_Update_package_file_path_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="remove_package">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonService/remove_package" message="tns:ICommonService_remove_package_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonService/remove_packageResponse" message="tns:ICommonService_remove_package_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_secure_code">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonService/Get_secure_code" message="tns:ICommonService_Get_secure_code_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonService/Get_secure_codeResponse" message="tns:ICommonService_Get_secure_code_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICommonService" type="tns:ICommonService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ICommonService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/ICommonService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListUser">
      <soap:operation soapAction="http://tempuri.org/ICommonService/getListUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnLock">
      <soap:operation soapAction="http://tempuri.org/ICommonService/UnLock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_doc_for_keyer">
      <soap:operation soapAction="http://tempuri.org/ICommonService/Get_doc_for_keyer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_doc_for_keyer_with_agent">
      <soap:operation soapAction="http://tempuri.org/ICommonService/Get_doc_for_keyer_with_agent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert_records">
      <soap:operation soapAction="http://tempuri.org/ICommonService/Insert_records" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert_records_with_comment">
      <soap:operation soapAction="http://tempuri.org/ICommonService/Insert_records_with_comment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="discard_doc_keyer">
      <soap:operation soapAction="http://tempuri.org/ICommonService/discard_doc_keyer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search_doc_for_export">
      <soap:operation soapAction="http://tempuri.org/ICommonService/search_doc_for_export" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_packages">
      <soap:operation soapAction="http://tempuri.org/ICommonService/Get_packages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_packages_lastest">
      <soap:operation soapAction="http://tempuri.org/ICommonService/Get_packages_lastest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_package_priority">
      <soap:operation soapAction="http://tempuri.org/ICommonService/Update_package_priority" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_package_file_path">
      <soap:operation soapAction="http://tempuri.org/ICommonService/Update_package_file_path" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="remove_package">
      <soap:operation soapAction="http://tempuri.org/ICommonService/remove_package" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_secure_code">
      <soap:operation soapAction="http://tempuri.org/ICommonService/Get_secure_code" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommonService">
    <wsdl:port name="BasicHttpBinding_ICommonService" binding="tns:BasicHttpBinding_ICommonService">
      <soap:address location="http://localhost:8186/CommonService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>