NexGen/Service References/NexGenService/CommonService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getListUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnLock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnLockResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_doc_for_keyer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_doc_for_keyerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_doc_for_keyerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_doc_for_keyer_with_agent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="agent" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_doc_for_keyer_with_agentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_doc_for_keyer_with_agentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_records">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xml_record" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transaction_type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentid" type="xs:long" />
        <xs:element minOccurs="0" name="keying_time" type="xs:long" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transaction_date" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transaction_time" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="total_update" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_recordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Insert_recordsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_records_with_comment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xml_record" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transaction_type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentid" type="xs:long" />
        <xs:element minOccurs="0" name="keying_time" type="xs:long" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transaction_date" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transaction_time" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="total_update" type="xs:double" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_records_with_commentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Insert_records_with_commentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="discard_doc_keyer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="docid" type="xs:long" />
        <xs:element minOccurs="0" name="docnum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username_discard" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="discard_doc_keyerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="discard_doc_keyerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="search_doc_for_export">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="packageid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="search_doc_for_exportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="search_doc_for_exportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_packages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_packagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_packagesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_packages_lastest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="limit" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_packages_lastestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_packages_lastestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_package_priority">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="packageid" type="xs:int" />
        <xs:element minOccurs="0" name="priority" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_package_priorityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_package_file_path">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="packageid" type="xs:int" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_package_file_pathResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="remove_package">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="packageid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="remove_packageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_secure_code">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_secure_codeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_secure_codeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>