NexGen/Service References/svDownloadFile/svManage_Download_File.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="svManage_Download_File" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8186/svManage_Download_File.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8186/svManage_Download_File.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8186/svManage_Download_File.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IsvManage_Download_File_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IsvManage_Download_File_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IsvManage_Download_File_SelectImportedByFolderName_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectImportedByFolderName" />
  </wsdl:message>
  <wsdl:message name="IsvManage_Download_File_SelectImportedByFolderName_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectImportedByFolderNameResponse" />
  </wsdl:message>
  <wsdl:message name="IsvManage_Download_File_verifyListDocumentInserted_InputMessage">
    <wsdl:part name="parameters" element="tns:verifyListDocumentInserted" />
  </wsdl:message>
  <wsdl:message name="IsvManage_Download_File_verifyListDocumentInserted_OutputMessage">
    <wsdl:part name="parameters" element="tns:verifyListDocumentInsertedResponse" />
  </wsdl:message>
  <wsdl:message name="IsvManage_Download_File_verifyListDocumentInserted_withPath_InputMessage">
    <wsdl:part name="parameters" element="tns:verifyListDocumentInserted_withPath" />
  </wsdl:message>
  <wsdl:message name="IsvManage_Download_File_verifyListDocumentInserted_withPath_OutputMessage">
    <wsdl:part name="parameters" element="tns:verifyListDocumentInserted_withPathResponse" />
  </wsdl:message>
  <wsdl:portType name="IsvManage_Download_File">
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IsvManage_Download_File/Insert" message="tns:IsvManage_Download_File_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsvManage_Download_File/InsertResponse" message="tns:IsvManage_Download_File_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectImportedByFolderName">
      <wsdl:input wsaw:Action="http://tempuri.org/IsvManage_Download_File/SelectImportedByFolderName" message="tns:IsvManage_Download_File_SelectImportedByFolderName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsvManage_Download_File/SelectImportedByFolderNameResponse" message="tns:IsvManage_Download_File_SelectImportedByFolderName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="verifyListDocumentInserted">
      <wsdl:input wsaw:Action="http://tempuri.org/IsvManage_Download_File/verifyListDocumentInserted" message="tns:IsvManage_Download_File_verifyListDocumentInserted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsvManage_Download_File/verifyListDocumentInsertedResponse" message="tns:IsvManage_Download_File_verifyListDocumentInserted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="verifyListDocumentInserted_withPath">
      <wsdl:input wsaw:Action="http://tempuri.org/IsvManage_Download_File/verifyListDocumentInserted_withPath" message="tns:IsvManage_Download_File_verifyListDocumentInserted_withPath_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsvManage_Download_File/verifyListDocumentInserted_withPathResponse" message="tns:IsvManage_Download_File_verifyListDocumentInserted_withPath_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IsvManage_Download_File" type="tns:IsvManage_Download_File">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IsvManage_Download_File/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectImportedByFolderName">
      <soap:operation soapAction="http://tempuri.org/IsvManage_Download_File/SelectImportedByFolderName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyListDocumentInserted">
      <soap:operation soapAction="http://tempuri.org/IsvManage_Download_File/verifyListDocumentInserted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyListDocumentInserted_withPath">
      <soap:operation soapAction="http://tempuri.org/IsvManage_Download_File/verifyListDocumentInserted_withPath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="svManage_Download_File">
    <wsdl:port name="BasicHttpBinding_IsvManage_Download_File" binding="tns:BasicHttpBinding_IsvManage_Download_File">
      <soap:address location="http://localhost:8186/svManage_Download_File.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>